html, body {
  background-color: #100940;
  font-family: 'Open Sans';
  height:100%;
}

main{
    min-height: 100%;
    margin-inline: 80px;
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
}

nav {
  display: flex;
  margin-top: 20px;
  justify-content:space-between;
}

nav ul {
  color: #ffff;
  list-style: none;
  display: flex; 
}

nav li{
    flex-direction: row;
    margin-right: 55px;
    padding-top: 6px;
    padding-bottom: 6px; 
    align-self: center;
    font-weight: thin;
}

nav li a{
    text-decoration: none;
    color: #ffff;
}

nav li a:hover{
    color:#4ABCE2;
    cursor: pointer;
}

nav li:hover{
    color:#4ABCE2;
    cursor: pointer;
    border-bottom: 2px solid #E2C03C;
}

nav h1{
    color: #4ABCE2;
    align-self: center;
}

.primary-button{
    all:unset;
    background-color: #4ABCE2;
    color: #222;
    border-radius: 20px;
    height:33px; 
    padding:0px 20px;
    align-self: center;
    font-weight: 400;
}

.primary-button:hover{   
    background-color: #EA5174;
    color: #100940;
    border:2px solid #E2C03C;
    transition: background-color 0.5s ease-in-out;
}

#contactBtn{
    all:unset;
    background-color: #100940;
    color: #4ABCE2;
    border-radius: 20px;
    height:33px; 
    padding:0px 20px;
    align-self: center;
    font-weight: 400;
    border:2px solid #4ABCE2;
    margin-left: 10px;
    transition: background-color 0.5s ease-in-out;
}

#contactBtn:hover{
    background-color: #4ABCE2;
    color:#222;
}
.banner-section{
    display: flex;
    padding-top: 150px;   
}

.banner-title{

    color: #E2C03C;
    font-size: 2.5em;
}

.banner p{
    color: #ffff;
    line-height: 25px;

}

@media only screen and (max-width:1072px) {

    .banner-image-div{
        flex-basis:35%;
    }

    .banner-image{
        width:400px;   
    }
}

.banner-image-div{
    display:flex;
    justify-content: center;
    flex-basis:50%;
}

.banner-image{
    max-width:530px;   
}

footer{
    display: flex;
    justify-content: space-between;
    color: #ffff;
    padding-top: 2em; 
    padding-bottom: 2em;
    margin-top: 0px;
   /* gap: 12em; */
}

footer ul{
    list-style: none;
    padding-left: 0px;
}

.footer-header{
    padding-bottom:0.3em;
}

#author{
    font-size: 1.4em;
    color:#E2C03C;
    font-weight: bold;
}

.testimonials{
    display:flex; 
    justify-content: center;
    flex-direction: column;
}

.testimonials h1{
    text-align: center;
    color:#ffff;
    font-size: 2em;
    padding-top: 2em;
    padding-bottom: 2em;
}

.card{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #B2D4FB ;
    padding: 1.5em 1.3em;
    width: 280px;
    border-radius: 10px;
    box-shadow: 0 0 40px 10px rgba(93, 98, 117, 0.70);
    transition: transform 0.3s ease-in-out;
    /*height:380px; */
}

.card:hover{
    transform: scale(1.1);
}

.card img{
    width:120px;
    align-self: center;
    border-radius: 50%;
    border: 5px solid #005AC2;
}

.card p{
    margin-top: 1.5em;
    text-align: center;
    font-weight: thin;
    font-size: 1.15em;
    color:#444;
}

.card h5{
    text-align: center;
    font-size: 1.5em ;
    margin:0px;
    color:#100940;
    font-weight: bold;
}

.card h6{
    text-align: center;
    font-size: 1em ;
    margin:0px;
}

.cards{
    display:flex;
    justify-content: center;
    gap: 5.5em;
}


.grid-collage{
    display:grid; 
    grid-template-areas:
    "box1 box2 box3"
    "box4 box2 box6"
    "box4 box5 box6";  
    grid-template-columns: 2fr 3fr 2fr;
    grid-template-rows: 2fr 1fr 2fr; 
    margin-top: 3%; 
    margin-left: 25%;
    width: 55%; 
    height: 100%; 
    background-color: #ffff;
    border: 5px solid #E2C03C;
}

.grid-collage-title{
    text-align: center;
    color: #E2C03C;
    font-size: 4em;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.collage{
    display: flex;
    justify-content: center;
    width:100%;
    height: auto;
    align-content: center;
}


.box-1{
    grid-area: box1;
}

.box-1 img{
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
}

.box-2{
    object-fit: cover; 
    grid-area: box2;
}

.box-2 img{
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
}

.box-3{
    grid-area: box3;
}

.box-3 img{
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
}

.box-4{
    grid-area: box4;
}

.box-4 img{
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
}

.box-5{
    grid-area: box5;
}

.box-5 img{
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
}

.box-6{
    grid-area: box6;    
}

.box-6 img{
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
}

.about-content{
    color: #e6e4e4; 
    text-align:justify;
    font-size: 15px; 
}

.about-content blockquote{
    font-weight: lighter;
}

.about-content h6{

    font-size: 16px;
    color:#E2C03C;
    margin: 0.5px; 
    text-align:center;
}

.about-content p{
    font-size: 15px; 
    color:#4ABCE2; 
    font-style: italic;
    margin: 0.2px;
    text-align:center; 
}

.form-section{
    display: flex;
    justify-content: left;
    padding-top:20px;
}


.form-section form{
    color: #ffff;
    font-weight: bold;
    width:100%; 
    display:flex; 
}

.contact-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    padding: 12px;
    margin-top: 0px; 
}

.contact-form p{
    font-style: italic;
    font-weight: 80px;
    color:#ccc;
}

input{
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

input[type=text]{
    font-size: 15px;
    color: #100940; 
    font-weight: 500px;
}

/*
input[type="submit"]{
    all:unset;
    background-color: #4ABCE2;
    color: #100940;
    border-radius: 20px;
    width:43px; 
    height:33px; 
    padding:0px 20px;
    font-weight: 700;
    align-self:right;
    text-align: center;
}

input[type="submit"]:hover{
    background-color: #EA5174;
    color: #100940;
    border:2px solid #E2C03C;
    transition: background-color 0.5s ease-in-out;
}
*/

.submit-btn{
    all:unset;
    background-color: #4ABCE2;
    color: #100940;
    border-radius: 20px;
    width:43px; 
    height:33px; 
    padding:0px 20px;
    font-weight: 700;
    align-self:right;
    text-align: center;

}

.submit-btn:hover{
    background-color: #EA5174;
    color: #100940;
    border:2px solid #E2C03C;
    transition: background-color 0.5s ease-in-out;
}

.map-div{
    width:60%;
    display: flex;
    justify-content: center;
    margin-top: 0px; 
}

iframe{
    border-radius: 10px;
}